.ant-card-actions {
  background: none;
  border: none;
  padding-bottom: 10px;
}

.ant-card-actions {
  flex: 0 0 20%;
}

.ant-statistic-title {
  margin: 11px 11px 0 0;
}

.ant-card-meta-title {
  color: #237673;
}

.ant-card-actions > li > span > .anticon {
  font-size: 30px;
}

.ant-card-head {
  font-size: 25px;
  border: none rgba(0, 0, 0, 0.65);
}

.ant-typography-edit-content {
  font-size: 50px;
  width: 100%;
}

.anticon-edit {
  color: rgba(0, 0, 0, 0.65);
  margin-top: 20%;
}

.anticon-stop {
  margin: -3px 10px 0 0;
}

.anticon-bell {
  margin: -3px 0 0 10px;
  float: right;
}

.anticon-user {
  float: right;
}

.ant-card-cover {
  padding: 24px;
  font-size: 2em;
}

.ant-card-actions > li > span {
  display: flex;
  justify-content: center;
}

.ant-card-actions > li > span > .anticon:hover {
  color: rgba(0, 0, 0, 0.65);
}

.ant-card-actions > li:not(:last-child) {
  border: none;
}

.ant-picker-dropdown {
  top: 295px !important;
  left: 770px !important;
}

.ant-input,
.ant-input:active,
.ant-input:focus,
.textarea.ant-input:focus {
  border: none;
  background-color: #e1ffff;
}

.ant-typography-edit,
.ant-typography-edit:focus,
.ant-typography-edit:hover {
  border: none !important;
  background-color: inherit !important;
  color: #237673;
}

div.ant-typography {
  margin-bottom: 0em;
}

div.ant-typography-edit-content {
  left: 0px;
}

/*.ant-picker-panel-container .ant-picker-panel {*/
/*  background-color: #e1ffff;*/
/*}*/

/*.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,*/
/*.ant-picker-cell-inner:hover {*/
/*  background: #237673 !important;*/
/*}*/

/*.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {*/
/*  border-color: #237673;*/
/*}*/

/*.ant-picker-today-btn,*/
/*.ant-picker-today-btn:hover {*/
/*  color: #237673;*/
/*}*/

/*.ant-picker-suffix,*/
/*.ant-picker-input {*/
/*  color: rgba(0, 0, 0, 0.65);*/
/*}*/

/*.ant-picker-input > input {*/
/*  text-align: end;*/
/*  margin-right: 2%;*/
/*  color: rgba(0, 0, 0, 0.65);*/
/*}*/

/*.ant-picker-clear {*/
/*  background: none;*/
/*  top: 55%;*/
/*  right: 185px;*/
/*}*/

/*.ant-picker-now-btn {*/
/*  color: #237673;*/
/*}*/

/*.ant-picker-ok > .ant-btn {*/
/*  background: #237673;*/
/*}*/



/*.ant-picker-time-panel-column*/
/*  > li.ant-picker-time-panel-cell-selected*/
/*  > .ant-picker-time-panel-cell-inner {*/
/*  background: #237673;*/
/*}*/

/*.ant-picker.ant-picker-borderless {*/
/*  width: 100%;*/
/*}*/

/*.ant-input,*/
/*.ant-picker-input {*/
/*  font-size: 25px;*/
/*  color: #237673;*/
/*}*/

/*.ant-picker-large .ant-picker-input > input {*/
/*  text-align: left;*/
/*  font-size: 25px;*/
/*}*/

.ant-input:placeholder-shown {
  color: #237673;
}

.anticon-loading {
  color: #237673;
}

.ant-popover-buttons > .ant-btn-primary {
  background: #237673;
}

.ant-popover-buttons > .ant-btn-primary:hover {
  background: #237673;
}

.ant-popover-buttons > .ant-btn-dangerous {
  color: #ff4d4f;
}

.ant-popover-buttons > .ant-btn-dangerous:hover {
  background: #ff4d4f;
  color: #e1ffff;
}

.anticon-check,
.anticon-close {
  font-size: 16px;
  color: #237673;
}

.ant-select {
  height: 62px;
  width: 250px;
  padding-top: 14px;
}
